<footer>
    <div class="row">
      <div class="col span-1-of-2">
        <ul class="footer-nav">
          <li><a href="#">About Me</a></li>
          <li><a href="#">Blog</a></li>
    
        </ul>
      </div>
      <div class="col span-1-of-2">
        <ul class="social-links">
          <li><a href="#"><ion-icon name="logo-github" class="logo-github"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-facebook" class="logo-facebook"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-googleplus" class="logo-googleplus"></ion-icon></a></li>
          <li><a href="#"><ion-icon name="logo-instagram" class="logo-instagram"></ion-icon></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p>
        This webpage was created for the undemy course "The Web Developer Bootcamp" by Colt Seele. No copyrights here.<br>
        Infomation in this website isn't true.
      </p>
    </div>

  </footer>
  <script src="/js/script.js"></script>
  <script src="/js/alert.js"></script>
  <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
</body>
</html>