<% include ../partials/header2 %>

<div class="row" style="margin-top: 5%;">
    <div class="card">
      <h2>Add Comment to <%= campground.name %></h2>
    <div class="container">
      <form class="ui form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
          <div>
              <label>Comment</label>
              <textarea name="comment[text]" placeholder="text"></textarea>
          </div>
          <div>
            <a class="btn-defult" href="/campgrounds">Cancel</a>
            <button class="btn-defult" type="submit" style="padding:10px 30px; background-color: #00b8ff; color:white">Save</button>
          </div>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>