<% include partials/header2 %>

<section class="section-cities">
    <div class="row">
        <h2>Sign Up</h2>
        <div class="input-div">
            <form action="/register" method="POST">
                <div>
                    <input type="text" name="username" placeholder="username">
                </div>
                <div>
                    <input type="password" name="password" placeholder="password">
                </div>
                <div style="text-align: center">
                    <input class="btn btn-full" type="submit" value="Sumbit" style="width: 100%;">
                </div>
            </form>
        </div>
    </div>
</section>

<% include partials/footer %>

