<% include ../partials/header3 %>

<section class="section-cities">
    <div class="row">
      <h2>View All Campgrounds</h2>
    </div>
    
    
    <% campgrounds.forEach(function(campground, index){ %> 
    <% if(index%4 === 0) {%>
      <div class="row"> 
    <% } %>
       
      <div class="col span-1-of-4 box">
        <img src="<%= campground.image %>" alt="campground picture">
        <div class="city-feature">
            <h3 style="text-transform: initial;" id="campgroundName"><%= campground.name %></h3>
        </div>
        <div class="city-feature">
          <a href="/campgrounds/<%= campground._id %>" class="btn-defult">More Info</a>
        </div>    
      </div> 

    <% if(index%4 === 3) {%>
      </div> 
    <% } %>
    <% }) %> 
    
  </section>
   
<% include ../partials/footer %>