
<% include ../partials/header2 %>
<a class="btn-defult" href="/campgrounds">Go back</a>

<section class="section-cities">
    <% if(campgrounds.length) { %>
        <div class="row">
          <h2>My Campgrounds</h2>
        </div>
            <% campgrounds.forEach(function(campground){ %>
            <div class="row">
              <div class="col span-1-of-4 box">
                <img src="<%= campground.image %>" alt="campground picture">
                <div class="city-feature">
                    <h3 style="text-transform: initial;" id="campgroundName"><%= campground.name %></h3>
                </div>
                <div class="city-feature">
                  <a href="/campgrounds/<%= campground._id %>" class="btn-defult">More Info</a>
                </div>    
            </div>
            <% }) %>  
    <% } else { %>
        <div class="row" style="text-align: center; min-height: 25%;">
            <h3 style="text-transform: initial; font-size: 1.5em;">Nothing here... Create your first campground now!</h3>
            <a class="btn btn-full js--scroll-to-plans" href="/campgrounds/new">Create New Campground</a>
        </div>
    <% } %>
</section>




   
<% include ../partials/footer3 %>