<% include ../partials/header2 %>

<div class="row" style="margin-top: 5%;">
    <div class="card">
        <h2>Create a New Campground</h2>
        <div class="container">
            <form class="ui form" action="/campgrounds" method="POST">
                <div>
                    <label>Title</label>
                    <input type="text" name="name" placeholder="name">
                </div>
                 <div>
                    <label>Price</label>
                    <input type="number" name="price" placeholder="price" min="0.01" step="0.01">
                </div>
                <div>
                    <label>Image</label>
                    <input type="text" name="image" placeholder="image url">
                </div>
                <div>
                    <label>Camground Content</label>
                    <textarea name="description" placeholder="text"></textarea>
                </div>
                <div>
                  <a class="btn-defult" href="/campgrounds">Cancel</a>
                  <button class="btn-defult" type="submit" style="padding:10px 30px; background-color: #00b8ff; color:white">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>