<% include ../partials/header2 %>

<div class="row" style="margin-top: 5%;">
    <div class="card">
        <h2>Edit <%= user.username %> Profile</h2>
        <div class="container">
            <form  action="/userprofile/<%= user._id %>?_method=PUT" method="POST">
                <div>
                    <label><b>Username</b></label>
                    <input type="text" name="user[username]" value="<%= user.username %>">
                </div>
          
                <div>
                  <a class="btn-defult" href="/campgrounds">Cancel</a>
                  <button class="btn-defult" type="submit" style="padding:10px 30px; background-color: #00b8ff; color:white">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>