<% include ../partials/header2 %>


<section class="section-features">
  <h2>Profile</h2>

  <div class="row">
    <a class="btn btn-ghost" id="profile-edit-button" href="/userprofile/<%= user._id %>/edit" style="float: right">Edit Profile</a>
  </div>

  <div class="row">
    <div class="col span-1-of-2 box" id="div-card">
      <div class="card" style="width: 100%;">
        <img src="/images/profile.gif" alt="Avatar" style="width: 100%; margin-bottom: 5%;">
      </div>
    </div>
  
    <div class="col span-1-of-2 box" id="div-card-2">
      <h3 style="text-align: center;">Overview</h3>
      <div class='container'>
        <h3>Username:<span style="text-transform: initial;"> <%= user.username %></span></h3> 
      </div>
    </div>

</section>


<% include ../partials/footer %>